@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b9b9b9;
    margin: 0;
    padding: 20px;
}

.library-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-card {
    cursor: pointer;
    background-color: #beb6b6;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(3, 3, 3);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.7s ease, box-shadow 0.5s ease;
}

.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.book-cover {
    width: 100%;
    height: auto;
}

.book-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.book-description {
    font-size: 0.9em;
    padding: 0 10px 10px;
}

.buy-button {
    background-color: #25d34d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 0.7em;
    transition: background-color 0.7s;
}

.buy-button:hover {
    background-color: #146e27;
}